.content {
  margin-bottom: 94px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.content-main {
  flex-grow: 1;
}

.content-main__title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #000;
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .content-box {
    flex-direction: column;
  }
}
