* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

button {
  color: #fff;
  cursor: pointer;
  background-color: #ff4949;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1149px;
  padding: 0 24px;
  margin: 0 auto;
}
